:root {
    --header-background-color: #ffffff;
    --header-text-color: #212121;
    --header-text-background-color: #2196F3;
    --accent-color: #2196F3;
    --main-background-color: #FFFFFF;
    --main-text-title-color: #212121;
    --main-text-color: #757575;
    --main-text-background-color: ;
    --footer-background-color: #2F303A;
}
   
body {
    font-family: "Roboto", sans-serif;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
/* -------------------------------HEADER--------------------------------- */

.header-link-w {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color, #2196F3);
}
.header-studio {
    color: #212121;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color, #212121);
}
.header-link.current {
    color: var(--accent-color);
}
.header-link:hover, .header-link:focus {
    color: #2196F3;
}
.header-connect {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-connect:hover, .header-connect:focus {
    color: var(--header-text-background-color, #2196F3);
}
/* -------------------------------MAIN-1PAGE--------------------------------- */

.h1 {    
    background: #2F303A;
}

.main-title-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--header-text-background-color, #2196F3);
}
  
.main-specific {
    background-color: var(--main-background-color, #ffffff);
}
.main-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-title-color, #212121);
}
.main-specific-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-title-color, #212121);
}
.main-specific-content {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color, #757575);
}
.main-our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--main-text-title-color, #212121);
}
.main-our-team-prof {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color, #757575);
}
/* -------------------------------MAIN--PORTFOLIO--------------------------------- */

.main-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--header-text-color, #212121);
}

.main-button:hover, .main-button:focus {
    color: #FFFFFF;
    background-color: var(--header-text-background-color, #2196F3);
}
.main-ptf {
    background-color: var(--main-background-color);
}
.main-ptf-web {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-title-color, #212121);
}
.main-ptf-task {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color, #757575);
}
/* -------------------------------FOOTER--------------------------------- */

.footer {
    background-color: var(--footer-background-color);
}
.footer-link-w {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-color, #2196F3);
}
.footer-studio {
    color: #ffffff;
}
.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}